* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.debug {
  border: 1px dashed red;
}

.container {
  margin: 50px auto;
  width: 500px;
  text-align: center;
  border: 1px solid #000;
  border-radius: 10px;

  h1 {
    margin-top: 20px;
    text-decoration: underline;
  }
}

.products-container {
  margin: 50px;
}

.products-titles {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;

  span {
    margin: 0 5px;
    font-weight: bold;
  }
}

.product {
  display: flex;
  justify-content: space-between;
  border: 1px solid #000;
  border-radius: 5px;
  margin-bottom: 15px;
  padding: 10px;
}