* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.debug {
  border: 1px dashed red;
}

.container {
  margin: 50px auto;
  width: 500px;
  text-align: center;
  border: 1px solid #000;
  border-radius: 10px;

  h1 {
    margin-top: 20px;
    text-decoration: underline;
  }
}

.products-container {
  margin: 50px;
}

.products-titles {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  width: 70%;

  span {

    font-weight: bold;
  }
}

.product-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.product-info {
  width: 70%;
  display: flex;
  justify-content: space-between;
}

.add-product-btn {
  background-color: #037BFF;
  color: #fff;
  padding: 6px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background-color: #0057b4;
  }
}

.remove-product-btn {
  background-color: red;
  color: #fff;
  padding: 6px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background-color: #9e0500;
  }
}

.total-price {
  margin-bottom: 10px;

  span {
    font-weight: bolder;
  }
}

.add-one-btn {
  padding: 2px;
  margin-right: 5px;
}

.remove-one-btn {
  padding: 2px 4px;
  margin-left: 5px;
}